<div class="row table-border mt-2">
    <div class="d-flex table-border-bottom">
      <div class="col table-border-right">
        <div>
          <span>Bank Details:</span>
        </div>
        <div>
          <span>Bank Name: <span>Punjab National Bank</span></span>
        </div>
        <div>
          <span>Account No.: <span>123456789</span></span>
        </div>
        <div>
          <span>IFSC Code: <span>123456789</span></span>
        </div>
        <div class="mb-4">
          <span>Remark: <span>123456789</span></span>
        </div>
      </div>
      <div class="col ms-2">
        <div>
          <span>Gross Amount:</span>
        </div>
        <div>
          <span>Packaging Charge</span>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col table-border-right">
        <div>
          <span>Total Invoice Amount in Words:</span>
        </div>
        <div>
          <span>Rs. Six Thousand Two Hundred Thirty-Seven Only</span>
        </div>
        <div class="text-end">
          <span>From, Pankaj Fabrics</span>
        </div>
        <div>
          <span>Terms & Conditions: </span>
          <span class="d-block">[1]. PAYMENT TO BE MADE A/C PAYEE CHEQUE OR DRAFT ONLY. </span>
                    <span class="d-block">[2]. ANY COMPLAINTS FOR GOODS SHOULD BE MADE WITHIN 2 DAYS </span>
                    <span class="d-block">[3]. INTEREST AT THE RATE OF 24% PER ANNUM WILL BE CHARGED AFTER DUE DATE. </span>
                    <span class="d-block">[4]. WE ARE NO REASONABLE FOR ANY LOSS OR DAMAGE DURING TRANSIT. </span>
                    <span class="d-block">[5]. PERSONALLY SELECTED GOODS WILL NOT BE TAKEN BACK.</span>
        </div>
                <div>
          <span>Subject to SURAT JURISDICTION</span>
        </div>
                <div class="text-end">
          <span>Authorised Sign.</span>
        </div>
      </div>
      <div class="col ms-2">
        <div class="mb-5">
          <span>Taxable Amount</span>
        </div>

                <div>
          <span>CGST (5%): 100</span>
        </div>
                <div>
          <span>SGST (5%): 100</span>
        </div>
                <div>
          <span>IGST (5%): 100</span>
        </div>

                <div class="mt-5">
          <span>Tax Amount: 100</span>
        </div>
                <div>
          <span>Net Amount: 100</span>
        </div>

      </div>
    </div>
  </div>